/*
 * Something
 */

body, html {
    font-family: "Droid Sans", sans-serif;
    /* font-weight: 500; */
    /* color: #434343; */
    /* height: 100%; */
    /* overflow: hidden; */
}

a:link {text-decoration: none;}
/* a:visited {text-decoration: none;} */
/* a:active {text-decoration: none;} */
/* a:hover {text-decoration: none; opacity: 0.9; color: #FF7F00; } */


/*
 * Sidebar
 */

.sidebar {
    /* border-right: 1px solid rgba(155, 155, 155, 0.5); */
    padding: 1rem 1rem;
    text-align: center;
    background-color: white;
    opacity: 0.9;
}

/* desktopish */
@media screen and (min-aspect-ratio: 1/1) {
    .sidebar {
        position: fixed;
        width: 18rem;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

.sidebar-header {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.sidebar-bio {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.sidebar-links {
    list-style-type: none;
    font-size: 1.4rem;
}

.sidebar-links li {
    /* display: inline-block; */
}


/*
 * Posts
 */

.posts {
    /* background-color: yellow; */
    margin: 4rem 2rem;
}

/* desktopish */
@media screen and (min-aspect-ratio: 1/1) {
    .posts {
        width: 40rem;
        margin-top: 6rem;
        margin-left: 22rem;
    }
}

.post {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.post img {
    max-width: 100%;
    max-height: 100%;
}

.post-title {
    font-size: 2rem;
}


/*
 * Background
 */

.background {
    position: fixed;
    z-index: -1;
    top: 0;
}

/* By this logic all background images should be in 16:9 aspect */
/* desktopish */
@media screen and (min-aspect-ratio: 16/9) {
    .background {
        width: 100%;
        min-height: 100%;
    }
}
/* moblieish */
@media not screen and (min-aspect-ratio: 16/9) {
    .background {
        height: 100%;
        min-width: 100%;
    }
}

#GOLCanvas {
    background-color: #E6E6E6;
    opacity: 0.6;
}

